<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Livro de Receitas</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('recipe')">Receitas</a></li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping Lista</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Opções <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Salvar Dados</a>
            </li>
            <li>
              <a href="#">Obter Dados</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
