<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="help-block">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">Esse username é
                inválido</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">Esse campo é obrigatório</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
            <span *ngIf="!signupForm.get('userData.email').valid
                        && signupForm.get('userData.email').touched
                        && signupForm.get('userData.email').errors"
              class="help-block">
              <span *ngIf="signupForm.get('userData.email').errors['required']">Por favor, entre com um email</span>
              <span *ngIf="signupForm.get('userData.email').errors['email']">Por favor, entre com um email válido!</span>
              <span *ngIf="signupForm.get('userData.email').errors['emailIsForbidden']">Esse email não pode ser utilizado</span>
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }} </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Seus Hobbies</h4>
          <button class="btn btn-secondary" (click)="onAddHobby()" type="button">Adicionar</button>
          <div class="form-group" *ngFor="let hobbyControl of hobbyControls; let i= index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Por favor, entre com informações
          válidas!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
