<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Nome da Receita</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
        Gerenciar Receita <span class="caret"></span>
      </button>
            <ul class="dropdown-menu">
                <li><a href="#">Shopping Lista</a></li>
                <li><a href="#">Editar Receita</a></li>
                <li><a href="#">Deletar Receita</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Descrição
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>
