<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" #name>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Unidades</label>
                    <input type="number" id="amount" class="form-control" #amount>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="button" (click)="onAddItem()">Adicionar</button>
                    <button class="btn btn-danger" type="button">Deletar</button>
                    <button class="btn btn-primary" type="button">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>
