<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input #email="ngModel"
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          >
          <small class="form-text text-muted"
          *ngIf="!email.valid && email.touched"
          class="help-block">Email inválido</small>
        </div>
        <div class="form-group">
          <label for="subscription">Tipo de Inscrição</label>
          <select
          id="subscription"
          class="form-control"
          name="subscription"
          [ngModel]="defaultSubscription"
          >
            <option value="basic">Básico</option>
            <option value="advanced">Avançado</option>
            <option value="pro">Profissional</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input #password="ngModel"
          ngModel
          type="password"
          class="form-control"
          id="password"
          name="password"
          required>
          <small class="form-text text-muted"
          *ngIf="!password.valid && password.touched"
          class="help-block">Forneça uma senha</small>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submeter</button>
      </form>
      <ng-container *ngIf="submitted">
        <hr>
        <h4>Seu dados:</h4>
        <p><b>Email:</b> {{ f.value.email }}</p>
        <p><b>Subscrição:</b> {{ f.value.subscription }}</p>
        <p><b>Senha:</b> {{ f.value.password }}</p>
      </ng-container>
    </div>
  </div>
</div>
