<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Nome do Projeto</label>
          <input type="text" id="projectName" class="form-control"
          formControlName="projectName">
          <small class="help-block" *ngIf="projectNameIsEmpty">Forneça um nome</small>
          <small class="help-block" *ngIf="projectNameIsForbidden">Esse nome não pode ser usado</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control"
          formControlName="email">
          <small class="help-block" *ngIf="emailIsEmpty">Forneça um email</small>
          <small class="help-block" *ngIf="emailIsInvalid">Email inválido</small>
          <small class="help-block" *ngIf="emailIsForbidden">Email não permitido</small>
        </div>
        <div class="form-group">
          <label for="status">Status do Projeto</label>
          <select id="status" class="form-control" formControlName="status">
            <option value="stable">Estável</option>
            <option value="critical">Crítico</option>
            <option value="finished">Finalizado</option>
          </select>
        </div>
        <div *ngIf="!projectForm.valid">
          <hr>
          <small class="help-block">Formulário inválido</small>
          <hr>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Submeter</button>
      </form>
    </div>
  </div>
</div>
